<%       url = "https://apis.scrimba.com/unsplash/photos/random?orientation=landscape&query=movies"
      response = Faraday.get(url)
      data = JSON.parse(response.body) %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= data["urls"]["regular"] %>');">
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <h1>Your Movie Collections</h1>
    <p><%= link_to "Add new list", new_list_path, class: "btn btn-primary" %></p>
  </div>
</div>


<div class="d-flex flex-wrap gap-3 justify-content-center align-items-center m-4">
  <% @lists.each do |list| %>
  <% unsplash_data = list.fetch_api %>
    <div class="card-trip rounded-4">
      <img src="<%= unsplash_data["urls"]["small"] %>">
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to list.name, list_path(list.id) %></h2>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p>All movies go here</p>
<ul>
  <% @all_movies.each do |movie| %>
  <li><%= link_to movie.title %></li>
  <% end %>
</ul>
