<h1>Lists show</h1>
<%= @list.name %>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
  <li><%= link_to bookmark.movie.title %> - <%= bookmark.comment %></li>
  <% end %>
</ul>
<p>what a nice list</p>
<p><%= link_to "Add movie to this list", new_list_bookmark_path(@list) %></p>

<p><%= link_to "Return to lists", lists_path %></p>
